<mat-card>

  <mat-card-header color="primary">
    <mat-card-title>Crear empleado</mat-card-title>
  </mat-card-header>

  <form class="nuevo-empleado-container" [formGroup]="empleadoFormGroup">

    <mat-form-field>
      <input matInput placeholder="apellido" formControlName="apellido">
    </mat-form-field>
    <span *ngIf="((empleadoFormGroup.get('apellido').touched ||
                   empleadoFormGroup.get('apellido').dirty) &&
                   empleadoFormGroup.get('apellido').errors)" style="color:#D32F2F">
      <span *ngIf="empleadoFormGroup.get('apellido').errors.required">
        Se requiere apellido
      </span>
    </span>
    <mat-form-field>
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>


    <div formArrayName="habilidades">
      <button mat-raised-button color="accent" (click)="addSkill()">Создать еще навык</button>

      <div *ngFor="let h of habilidades.controls; let i=index">
        <div [formGroupName]="i">

          <mat-form-field>
            <input matInput placeholder="Habilidad" formControlName="habilidad">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Nivel" formControlName="nivel">
              <mat-option value="principiante">Principiante</mat-option>
              <mat-option value="medio">Medio</mat-option>
              <mat-option value="avanzado">Avanzado</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </div>





  </form>

</mat-card>