<app-crear-empleado></app-crear-empleado>


<!--Style binding-->
<h1 [style.background-color]="blue?'skyblue':'yellow'">
  Welcome to {{ title }}!
</h1>

<!-- two-way binding-->
<input [(ngModel)]='count'>
<br>

<!--event binding-->
<button (click)=" set() ">
  <!--interpolation-->
  set number to {{count}} + 1
</button>
<br><br>

<!--property binding-->
<input [value]='title' (input)='title=$event.target.value'>

<br>
<button (click)="changeColor()">color change</button>
<router-outlet></router-outlet>