@import "~@angular/material/theming";
@include mat-core();

$custom-primary: mat-palette($mat-blue, 600);
$custom-accent: mat-palette($mat-amber, A400);
$custom-warn: mat-palette($mat-red, 700);

$custom-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);

// ALTERNATIVE THEME

$alt-primary: mat-palette($mat-yellow);
$alt-accent: mat-palette($mat-green, 200);

$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

.alternative {
  @include angular-material-theme($alt-theme);
}
